@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgb(231, 231, 231);
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
    margin-bottom: 16px;
}

h1 {
    color: rgb(0, 2, 17);
}

h2 {
    color: rgb(77, 77, 77);
}

footer {
    padding: 24px 0;
}

nav {
    padding: 2rem;
    border-bottom: black 1px solid;
    background-color: rgb(76, 33, 68);
}
nav a {
    color: white;
}

nav a:hover {
    color: rgb(159, 159, 159);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(0, 66, 128);
}

.ingredients tr:nth-child(even){
    background-color: rgba(222, 222, 222, 0.626);
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    border-top: black 1px solid;
    background-color: rgb(76, 33, 68);
    padding: 2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
}

.grid-item {
    text-align: center;
}


.grid-item img {
    border-radius: 1rem;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.724);
    border: rgba(0, 0, 0, 0.595) 2px solid;
}

main img {
    border-radius: 1rem;
}

.ingredients-heading, .steps-heading {
    color: black;
}
